<div class="legend">
  <div class="legend-icons">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/img/required-mask.png" alt="required" />
        <span>Obrigatório</span>
      </div>
      <div class="legend-image">
        <img img src="/assets/img/recommended-mask.png" alt="recomended" />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="legend-icons">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/img/required-towel.png" alt="required" />
        <span>Obrigatório</span>
      </div>
      <div class="legend-image">
        <img img src="/assets/img/recommended-towel.png" alt="recomended" />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="legend-icons">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/img/partial-fountain.png" alt="required" />
        <span>Parcial</span>
      </div>
      <div class="legend-image">
        <img img src="/assets/img/not_allowed-fountain.png" alt="recomended" />
        <span>Proibido</span>
      </div>
    </div>
  </div>
  <div class="legend-icons">
    <h4>Vestiário</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="/assets/img/allowed-lockerroom.png" alt="required" />
        <span>Liberado</span>
      </div>
      <div class="legend-image">
        <img img src="/assets/img/partial-lockerroom.png" alt="recomended" />
        <span>Parcial</span>
      </div>
      <div class="legend-image">
        <img img src="/assets/img/closed-lockerroom.png" alt="recomended" />
        <span>Fechado</span>
      </div>
    </div>
  </div>
</div>
